[submodule "robot_control/submodules/pybind11"]
	path = robot_control/submodules/pybind11
	url = git@github.com:pybind/pybind11.git
[submodule "robot_control/submodules/pinocchio"]
	path = robot_control/submodules/pinocchio
	url = git@github.com:stack-of-tasks/pinocchio.git
