<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- Gazebo simulation -->
  <arg name="simulation" default="false"/>
  <group if="$(arg simulation)">
  <include file="$(find robot_control_ros)/launch/gazebo.launch">
    <arg name="run_gui" value="false"/>
    <arg name="paused" value="true"/>
  </include>
  </group>

  <!-- Publish robot state (joints) as TF -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
    <param name="publish_frequency" value="100"/>
    <param name="use_tf_static"     value="true"/>
    <remap from="robot_description" to="/robot_description"/>
    <remap from="joint_states"      to="/joint_states"/>
  </node>

  <!--  Controller params-->
  <rosparam file="$(find robot_control_ros)/params/controllers.yaml" command="load"/>
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
      output="screen" ns="/" args="joint_state_controller panda_trajectory_controller"/>

  <group if="$(arg simulation)">
  <!-- Controller manager gui -->
  <node name="rqt_controller_manager" type="rqt_controller_manager" pkg="rqt_controller_manager"/>

  <!-- Open Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_control_ros)/config/cfg.rviz" output="screen"/>
  </group>
</launch>
