<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="launch_prefix" default="" /> <!-- set to value="gdbserver localhost:10000" for remote debugging -->
  <arg name="camera_name" default="/camera_rect" />
  <arg name="camera_frame" default="camera" />
  <arg name="image_topic" default="image_rect" />

  <include file="$(find apriltag_ros)/launch/continuous_detection.launch">
  </include>
  <!-- Set parameters -->
  <node pkg="apriltag_ros" type="apriltag_ros_continuous_node" name="apriltag_ros_continuous" clear_params="true" output="screen" launch-prefix="$(arg launch_prefix)" >
    
    <!-- Parameters -->
    <rosparam command="load" file="$(find robot_control_percection)/config/settings.yaml" />
    <rosparam command="load" file="$(find robot_control_percectio)/config/tags_bundle.yaml" />

    <!-- Remap topics from those used in code to those on the ROS network -->
    <remap from="image_rect" to="$(arg camera_name)/$(arg image_topic)" />
    <remap from="camera_info" to="$(arg camera_name)/camera_info" />

    <param name="camera_frame" type="str" value="$(arg camera_frame)" />
    <param name="publish_tag_detections_image" type="bool" value="true" />      <!-- default: false -->
  </node>
  
</launch>