<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- Load robot description -->
  <arg name="description_file"            default="$(find robot_control_assets)/assets/arms/panda/panda.urdf.xacro"/>
  <param name="robot_description"
         command="$(find xacro)/xacro.py $(arg description_file) mesh_prefix:=package://robot_control_assets/"/>

  <!-- Open joint_state_publisher for smb_description with GUI for debugging -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen">
    <param name="rate"              value="100"/>
    <param name="use_gui"           value="true"/>
  </node>

  <!-- Publish robot state (joints) as TF -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
    <param name="publish_frequency" value="100"/>
    <param name="use_tf_static"     value="true"/>
  </node>

  <!-- Open Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_control_assets)/rviz/cfg.rviz"
  output="screen"/>

</launch>
